/*Responsive*/
@media screen and (max-width: 2560px) and (max-height: 1440px){
    .front_page_title{
        width: 1920px;
        left: 1170px;
    }
    .btn_primary
    {
        width: 800px;
        left: 1580px;
        top: 540px;
    }
    .btn_tertiary
    {
        width: 800px;
        left: 1560px;
        top: 610px;
    }
    .modal_box
    {
        width: 800px;
        left: 1300px;
        top: 500px;
    }
    .quiz_game
    {
        width: 800px;
        left: 1300px;
        top: 420px;
    }
    .end_game_result
    {
        width: 800px;
        left: 1300px;
    }
}
@media screen and (max-width: 1920px) and (max-height: 1080px){
    .front_page_title{
        width: 1920px;
        left: 870px;
    }
    .btn_primary
    {
        width: 800px;
        left: 1280px;
        top: 440px;
    }
    .btn_tertiary
    {
        width: 800px;
        left: 1260px;
        top: 510px;
    }
    .modal_box
    {
        width: 800px;
        left: 1000px;
        top: 400px;
    }
    .quiz_game
    {
        width: 800px;
        left: 1000px;
        top: 400px;
    }
    .end_game_result
    {
        width: 800px;
        left: 950px;
    }
}
@media screen and (max-width: 1600px) and (max-height: 890px){
    .front_page_title{
        width: 1600px;
        left: 730px;
    }
    .btn_primary
    {
        width: 390px;
        left: 930px;
        top: 420px;
    }
    .btn_tertiary
    {
        width: 390px;
        left: 910px;
        top: 490px;
    }
    .modal_box
    {
        width: 800px;
        left: 910px;
        top: 400px;
    }
    .quiz_game
    {
        width: 800px;
        left: 810px;
        top: 300px;
    }
    .end_game_result
    {
        width: 800px;
        left: 810px;
    }
}
@media screen and (max-width: 1280px) and (max-height: 802px){
    .front_page_title{
        width: 1280px;
        left: 560px;
    }
    .btn_primary
    {
        width: 390px;
        left: 770px;
        top: 420px;
    }
    .btn_tertiary
    {
        width: 390px;
        left: 750px;
        top: 490px;
    }
    .modal_box
    {
        width: 1280px;
        left: 910px;
        top: 360px;
    }
    .quiz_game
    {
        width: 1280px;
        left: 640px;
        top: 300px;
    }
    .end_game_result
    {
        width: 1280px;
        left: 650px;
        top: 400px;
    }
}
@media screen and (max-width: 768px) and (max-height: 1024px){
    .front_page_title{
        width: 768px;
        left: 320px;
    }
    .btn_primary
    {
        width: 768px;
        left: 720px;
        top: 460px;
    }
    .btn_tertiary
    {
        width: 768px;
        left: 700px;
        top: 530px;
    }
    .modal_box
    {
        width: 768px;
        left: 500px;
        top: 400px;
    }
    .quiz_game
    {
        width: 768px;
        left: 400px;
        top: 340px;
    }
    .end_game_result
    {
        width: 768px;
        left: 425px;
        top: 400px;
    }
}
@media screen and (max-width: 390px) and (max-height: 844px){
    .front_page_title{
        width: 390px;
        left: 120px;
    }
    .front_page_title h1{
        font-size: 3rem;
    }
    .btn_primary
    {
        width: 390px;
        left: 320px;
        top: 400px;
    }
    .btn_tertiary
    {
        width: 390px;
        left: 300px;
        top: 470px;
    }
    .modal_box
    {
        width: 420px;
        left: 175px;
        top: 340px;
    }
    .quiz_game
    {
        width: 390px;
        left: 200px;
        top: 340px;
    }
    .end_game_result
    {
        width: 390px;
        left: 200px;
        top: 400px;
    }
}
@media screen and (max-width: 320px) and (max-height: 480px){
    .front_page_title{
        width: 320px;
        left: 120px;
    }
    .front_page_title h1{
        font-size: 2.4rem;
    }
    .front_page_title img{
        left: 10px;
    }
    .btn_primary
    {
        width: 320px;
        left: 260px;
        top: 280px;
    }
    .btn_tertiary
    {
        width: 320px;
        left: 240px;
        top: 340px;
    }
    .modal_box
    {
        width: 320px;
        left: 150px;
        top: 240px;
    }
    .modal_box .modal_title{
        font-size: 15px;
    }
    .modal_box .modal_list .modal_info{
        font-size: 10px;
    }
    .quiz_game
    {
        width: 320px;
        left: 160px;
        top: 240px;
    }
    .quiz_game section .question_text{
        font-size: 15px;
    }
    section .question_options_list .question_options{
        font-size: 10px;
    }
    .quiz_game section .question_options_list{
        padding: 0;
    }
    footer .next_question_btn{
        font-size: 8px;
    }
    .end_game_result
    {
        width: 320px;
        left: 170px;
        top: 260px;
    }
    .end_game_result .end_game_result_text{
        font-size: 15px;
    }
    .end_game_result .end_game_result_score_text span{
        font-size: 10px;
    }
    .end_game_result .end_game_buttons button{
        font-size: 10px;
    }
    .footer{
        display: none;
    }
}