/*Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Poppins:weight@200;300;400;500;600;700&display=swap');
/*Universal Styling*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: #004643;
    height: 100%;
    position: fixed;
}
/*button Primary styling*/
.btn_primary
{
    position: absolute;
    top: 44%;
    left: 49%;
    transform: translate(-50%, -50%);
}
.btn_primary button
{
    font-size: 15px;
    font-weight: 500;
    color: #001e1d;
    padding: 15px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #f9bc60;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn_primary button:hover
{
    cursor: pointer;
    transform: translateY(-0.4rem);
    transition: transform 150ms;
}
/*Button Tertiary styling*/
.btn_tertiary
{
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
}
.btn_tertiary button
{
    font-size: 15px;
    font-weight: 500;
    color: #0f0e17;
    padding: 15px 30px;
    border-color: #FFF;
    outline: none;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}
.btn_tertiary button a{
    text-decoration: none;
    color: #fff;
}
.btn_tertiary button a:hover{
    text-decoration: none;
    color: #001e1d;
}
.btn_tertiary button:hover
{
    background: #f9bc60;
    border: none;
    color: #001e1d;
    transform: translateY(0.4rem);
    transition: transform 150ms;
}
/*Front Page styling*/
.front_page_title
{
    position: absolute;
    top: 30%;
    left: 45%;
}
.front_page_title img
{
    position: absolute;
    left: 45px;
    top: -35px;
}
.front_page_title.activeIMG
{
    display: none;
}
.front_page_title h1
{
    position: relative;
    font-size: 3.4rem;
    color: #fffffe;
    top: 40px;
    left: -100px;
}
/*modal styling*/
.modal_box
{
    position: absolute;
    top: 40%;
    left: 45%;
    width: 620px;
    height: 320px;
    background: #004643;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    
}
.modal_box.activeInfo
{
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
.modal_title
{
    position: relative;
    left: 40px;
    font-size: 30px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-weight: 600;
    color: #fffffe;
}
.modal_list
{
    padding: 15px 35px;
    position: relative;
    left: 40px;
}
.modal_info
{
    margin: 5px 0;
    font-size: 20px;
    color: #fffffe;
}
.modal_info span
{
    font-weight: 600;
    color: #f9bc60;
}
/*modal button styling*/
.modal_buttons
{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
    border-top: 1px solid #004643;
}
.modal_buttons button
{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #fffffe;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
}
.modal_buttons button.modal_quit
{
    border-color: #fffffe;
    background: transparent;
    color: #fffffe;
}
.modal_buttons button.modal_quit:hover
{
    background: #f9bc60;
    border-color: #001e1d;
    color: #001e1d;
}
.modal_buttons button.modal_start
{
    border-color: #001e1d;
    background: #f9bc60;
    color: #001e1d;
}
/*quiz game styling*/
.quiz_game
{
    position: absolute;
    top: 41%;
    left: 50%;
    width: 550px;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
}
.quiz_game.activeQuiz
{
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1)
}
/*Quiz Heads up display style*/
.quiz_game header
{
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    color: #fffffe;
}
.quiz_game header .quiz_header
{
    font-size: 20px;
    font-weight: 600;
}
.quiz_game header .quiz_timer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    color: #fffffe;
    border-radius: 5px;
    padding: 0 8px;
}
.quiz_game header .quiz_timer .quiz_timer_text
{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}
.quiz_game header .quiz_timer .quiz_timer_seconds
{
    font-size: 18px;
    font-weight: 500;
    background: #f9bc60;
    height: 30px;
    width: 45px;
    color: #001e1d;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #f9bc60;
    user-select: none;
}
/*Quiz game section style*/
.quiz_game section
{
    padding: 25px 30px 20px 30px;
    background: #004643;
}
.quiz_game section .question_text
{
    font-size: 25px;
    font-weight: 600;
    color: #fffffe;
}
.quiz_game section .question_options_list
{
    padding: 20px 0;
    display: block;
}
section .question_options_list .question_options
{
    background: #f9bc60;
    border: 1px solid #001e1d;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}
section .question_options_list .question_options:hover
{
    background: #fffffe;
}
.question_options_list .question_options:last-child
{
    margin-bottom: 0px;
}
.question_options_list .question_options .question_options_icon
{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    position: relative;
    pointer-events: none;
}
.question_options_list .question_options .question_options_icon.correct
{
    color: #23903c;
    border-color: #001e1d;
    background: #fffffe;
}
.question_options_list .question_options .question_options_icon.false
{
    color: #a4283a;
    border-color: #001e1d;
    background: #fffffe;
}
.question_options_list .question_options.correct_choice
{
    color: #001e1d;
    font-weight: 600;
    background: #23903c;
    border-color: #001e1d;
}
.question_options_list .question_options.incorrect_choice
{
    color: #001e1d;
    font-weight: 600;
    background: #a4283a;
    border-color: #001e1d;
}
.question_options_list .question_options.disabled_choice
{
    pointer-events: none;
}
/*quiz game footer styling*/
.quiz_game footer
{
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    color: #fffffe;
    background: #004643;
}
.quiz_game footer .total_questions_counter span
{
    display: flex;
    user-select: none;
}
footer .total_questions_counter span p
{
    font-weight: bolder;
    padding: 0 5px;
    color: #f9bc60;

}
.total_questions_counter span p:first-child
{
    padding-left: 0px;
}
footer .next_question_btn
{
    display: none;
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    color: #001e1d;
    background: #f9bc60;
    border-radius: 5px;
    border: 1px solid #001e1d;
    cursor: pointer;
    transition: all 0.3s ease;
}
footer .next_question_btn:hover
{
    background: transparent;
    border-color: #fffffe;
    color: #fffffe;
}
/*End Game styles*/
.end_game_result
{
    background: #004643;
    width: 450px;
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 39%;
    left: 49%;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
}
.end_game_result.activeEndGameResult
{
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
.end_game_result .end_game_result_icon
{
    font-size:100px;
    color: #f9bc60;
    margin-bottom: 10px;
}
.end_game_result .end_game_result_text
{
    font-size: 20px;
    font-weight: 500;
    color: #fffffe;
}
.end_game_result .end_game_result_score_text span
{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
    color: #fffffe;
}
.end_game_result .end_game_result_score_text span p
{
    font-weight: 600;
    padding: 0 4px;
    color: #f9bc60;
}
.end_game_result .end_game_buttons
{
    display: flex;
    margin: 20px 0;
}
.end_game_result .end_game_buttons button
{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #001e1d;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #001e1d;
    background: #f9bc60;
}
.end_game_result .end_game_buttons .quit_game
{
    background: transparent;
    border-color: #fffffe;
    color: #fffffe;
}
.end_game_result .end_game_buttons .quit_game:hover
{
    background: #f9bc60;
    border-color: #001e1d;
    color: #001e1d;
}
/*footer style*/
.footer
{
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #0f0e17;
	height: 50px;
	color: #f9bc60;
}
.footer .social-icons
{
	color: #f9bc60;
	font-size: 2rem;
	padding: 10px;
	margin-bottom: 10px;
}
.footer .social-icons:hover
{
	color: #fffffe;
}
