/*Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Poppins:weight@200;300;400;500;600;700&display=swap');
/*Universal Styling*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #004643;
}
/*button Primary styling*/
.btn-primary{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn-primary button{
    font-size: 15px;
    font-weight: 500;
    color: #001e1d;
    padding: 15px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #f9bc60;
    cursor: pointer;
}
.btn-primary button:hover{
    cursor: pointer;
    transform: translateY(-0.4rem);
    transition: transform 150ms;
}
/*Button Tertiary styling*/
.btn-tertiary{
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn-tertiary button{
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    padding: 15px 30px;
    border-color: #FFF;
    outline: none;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}
.btn-tertiary button:hover{
    cursor: pointer;
    transform: translateY(-0.4rem);
    transition: transform 150ms;
}
/*Front Page styling*/
.front-page-title{
    position: absolute;
    top: 30%;
    left: 45%;
}
.front-page-title img{
    position: absolute;
    left: 45px;
    top: -35px;
}
.front-page-title h1{
    position: relative;
    font-size: 3.4rem;
    color: #fffffe;
    top: 40px;
    left: -100px;
}
/*modal styling*/
.modal_box{
    position: absolute;
    top: 43%;
    left: 51%;
    transform: translate(-50%, -50%);
    width: 540px;
    height: 320px;
    background: #fff;
    border-radius: 5px;
    display: none;
}
.modal_title{
    font-size: 20px;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-weight: 600;
}
.modal-list {
    padding: 15px 35px;
}
.modal-info{
    margin: 5px 0;
    font-size: 17px;
}
.modal-info span{
    font-weight: 600;
    color: #001e1d;
}
/*modal button styling*/
.modal-buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
    border-top: 1px solid lightgray;
}
.modal-buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
}
.modal-buttons button.modal-quit{
    border-color: #001e1d;
    background: transparent;
    color: #001e1d;
}
.modal-buttons button.modal-quit:hover{
    background: #f9bc60;
    border-color: #f9bc60;
}
.modal-buttons button.modal-start{
    border-color: #f9bc60;
    background: #f9bc60;
    color: #001e1d;
}
/*quiz game styling*/
.quiz-game{
    position: absolute;
    top: 43%;
    left: 51%;
    transform: translate(-50%, -50%);
    width: 550px;
    background: #fff;
    border-radius: 5px;
}
/*Quiz Heads up display style*/
.quiz-game header{
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}
.quiz-game header .quiz-header{
    font-size: 20px;
    font-weight: 600;
}
.quiz-game header .quiz-timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: #001e1d;
    color: #fff;
    border: 1px solid #001e1d;
    border-radius: 5px;
    padding: 0 8px;
}
.quiz-game header .quiz-timer .quiz-timer-text{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}
.quiz-game header .quiz-timer .quiz-timer-seconds{
    font-size: 18px;
    font-weight: 500;
    background: #f9bc60;
    height: 30px;
    width: 45px;
    color: #000;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #f9bc60;
    user-select: none;
}
/*Quiz game section style*/
.quiz-game section{
    padding: 25px 30px 20px 30px;
    background: #fff;
}
.quiz-game section .question-text{
    font-size: 25px;
    font-weight: 600;
}
.quiz-game section .question-options-list{
    padding: 20px 0;
    display: block;
}
section .question-options-list .question-options{
    background: #f9bc60;
    border: 1px solid #001e1d;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}
section .question-options-list .question-options:hover{
    background: transparent;
}
.question-options-list .question-options:last-child{
    margin-bottom: 0px;
}
.question-options-list .question-options .question-options-icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    position: relative;
    pointer-events: none;
}
.question-options-list .question-options .question-options-icon.correct{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}
.question-options-list .question-options .question-options-icon.false{
    color: #a4283a;
    border-color: #a4283a;
    background: #f8d7da;
}
/*quiz game footer styling*/
.quiz-game footer{
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.quiz-game footer .total-questions span{
    display: flex;
    user-select: none;
}
footer .total-questions span p{
    font-weight: bolder;
    padding: 0 5px;

}
.total-questions span p:first-child{
    padding-left: 0px;
}
footer .next-question-btn{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    color: #001e1d;
    background: #f9bc60;
    border-radius: 5px;
    border: 1px solid #001e1d;
    cursor: pointer;
    transition: all 0.3s ease;
}
footer .next-question-btn:hover{
    background: transparent;
}